.ad-pics{
  margin: 10px;
}
.second-row{
  margin-left:36px;
}
.font-and-weight{
  font-weight:bold;
  font-size: 16px;
  color: rgb(139, 195, 74);
}
.fine-font{
  font-size: 8px;
  color: rgb(64, 64, 64);
}
.brands {
  font-size: 16px;
  color: rgb(64, 64, 64);
}