.saving-section{
  margin-top: 7%;
}
.smaller-headers {
  font-size: 37px;
  font-weight: 500;
  font-style: normal;
  color: rgb(64, 64, 64);
  margin: 1%;
}

.saving-description{
  color: rgb(120, 120, 120);
  font-size: 20px;
  width: 50%;
  margin: 0 auto;
}
.saving-image{
  margin: 3%;
}