.bekannt-aus-images {
  display: block;
}

.bekannt-aus-section {
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 0.2px solid rgba(159, 159, 159, 0.1);

}

.bekannt-aus-subtitle {
  font-size: 12px;
  color: #F69E00;
  font-weight: bold;
}

.entities {
  margin: 0 20px;

}